body {
    background-image: url("./bilder/jorden.jpg");
    background-repeat: no-repeat;
    background-color: black;
    background-position: center -500px;
}

h1 {
  color: white;
  font-size: 150px;
  font-family: sans-serif;
  margin-left: 500px;
  margin-top: 50px;
  width: 550px;
  
}